# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
dap-visu-etl/import/bof-korot/talletusten_ja_lainojen_korot_fi.csv
dap-visu-etl/import/happiness/DataForFigure2.1WHR2023.xls
dap-visu-etl/import/happiness/DataForTable2.1WHR2023.xls
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/cefsubproc.exe
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/chrome_100_percent.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/chrome_200_percent.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/chrome_elf.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/d3dcompiler_47.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/Appearance Pakx64.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/Browser Pluginx64.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/CalendarControlPluginx64.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/Cryptox64.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/EHDateControl11041.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/GZipx64.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/Internet Encodingsx64.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/MBS_Main_Registration_Plugin_21008.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/MBS_Tools_SmartCard_Plugin_21008.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/RegExx64.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/TimeControl9001.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Resources/dental_chart.png
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR.exe
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/icudt65.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/icudtl.dat
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/icuin65.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/icuuc65.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/libcef.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/libEGL.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/libGLESv2.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/af.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/am.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ar.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/bg.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/bn.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ca.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/cs.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/da.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/de.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/el.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/en-GB.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/en-US.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/es-419.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/es.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/et.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/fa.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/fi.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/fil.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/fr.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/gu.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/he.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/hi.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/hr.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/hu.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/id.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/it.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ja.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/kn.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ko.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/lt.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/lv.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ml.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/mr.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ms.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/nb.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/nl.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/pl.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/pt-BR.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/pt-PT.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ro.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ru.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/sk.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/sl.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/sr.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/sv.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/sw.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ta.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/te.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/th.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/tr.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/uk.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/ur.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/vi.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/zh-CN.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/locales/zh-TW.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/msvcp120.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/msvcp140.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/msvcr120.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/resources.pak
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/snapshot_blob.bin
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/swiftshader/libEGL.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/swiftshader/libGLESv2.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/v8_context_snapshot.bin
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/vccorlib140.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/vcruntime140.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/vcruntime140_1.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/vk_swiftshader.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/vk_swiftshader_icd.json
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/vulkan-1.dll
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/XojoGUIFramework64.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/Appearance Pakx64.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/Browser Pluginx64.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/CalendarControlPluginx64.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/Cryptox64.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/EHDateControl11041.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/GZipx64.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/Internet Encodingsx64.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/MBS_Main_Registration_Plugin_21008.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/MBS_Tools_SmartCard_Plugin_21008.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/RegExx64.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR Libs/TimeControl9001.dll
CT80A0000/DebugDIS Dental EHR/DebugDIS Dental EHR.exe
CT80A0000/DebugDIS Dental EHR/icudt65.dll
CT80A0000/DebugDIS Dental EHR/icuin65.dll
CT80A0000/DebugDIS Dental EHR/icuuc65.dll
CT80A0000/DebugDIS Dental EHR/msvcp140.dll
CT80A0000/DebugDIS Dental EHR/msvcr120.dll
CT80A0000/DebugDIS Dental EHR/vcruntime140.dll
CT80A0000/DebugDIS Dental EHR/vcruntime140_1.dll
CT80A0000/DebugDIS Dental EHR/XojoGUIFramework64.dll
CT80A0000/dataIngest/data/sukunimitilasto-2023-08-01-dvv.xlsx
CT80A0000/dataIngest/data/PCF_20231207.dat
CT80A0000/dataIngest/data/Finland_addresses_2023-11-13.csv
CT80A0000/dataIngest/data/etunimitilasto-2023-08-01-dvv.xlsx
CT80A0000/dataIngest/data/customerData.json
CT80A0000/dataIngest/data/customerData.csv
CT80A0000/dataIngest/data/customerDataPrivate.csv
CT80A0000/dataIngest/data/customerDataSafe.csv
CT80A0000/Builds - DIS Dental EHR/Windows 64 bit/DIS Dental EHR/DIS Dental EHR Libs/EHJSONIII2101.dll
CT80A0000/dataIngest/data/THLDentalCodes.xlsx
CT80A0000/dataIngest/data/thlDentalCodesEn.csv
CT80A0000/dataIngest/data/thlDentalCodesFi.csv
CT80A0000/dataIngest/.DS_Store
CT80A0000/.DS_Store
CT80A0000/dataIngest/data/PCF_20231204.dat
CT80A0000/dataIngest/.DS_Store
